body {
    background-image: url('campo.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(0, 143, 136);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
html {
    font-family: "Nunito", sans-serif;
    user-select: none;
}
.barbarovsk {
    display: flex;
    width: 20vh;
    height: 100%;
    padding: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: 3px solid #000;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    flex-direction: column;
    align-items: center; 
}
.barbarovsk:hover {
    border-color: rgb(187, 0, 187);
}
.personagens {
    display: flex;
    position: absolute;
    bottom: 2vh;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 130vh;
    height: 33%;
}
.aliado {
    width: 12%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.644);
    position: absolute;
    left: 0;
    border: 3px solid #000;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pulsebg {
    0% {
        background-color: rgba(0, 0, 255, 0.644);
    }
    50% {
        background-color: rgba(0, 0, 255, 0.544);
    }
    100% {
        background-color: rgba(0, 0, 255, 0.644);
    }
}

@keyframes pulsebgi {
    0% {
        background-color: rgba(255, 0, 0, 0.644);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.544);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.644);
    }
}

.inimigo {
    width: 12%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.644);
    position: absolute;
    right: 0;
    border: 3px solid #000;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.rivais {
    display: flex;
    position: absolute;
    top: 2vh;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 160vh;;
    height: 30%;
}
.thesauriano {
    display: flex;
    width: 18vh;
    height: 100%;
    padding: 0;
    position: relative;
    top: 1vh;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    overflow: hidden;
    background-image: url(thesauriano.png);
    background-size: cover;
    background-position: center;
    border: 3px solid #000;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    align-items: center; 
    justify-content: center;
}
.vdc {
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 2vh;
    top: 1.3vh;
    display: flex;
    width: 100%;
    height: 140%;
}
.vdc h1 {
    font-size: 2.5vh;
}
.baixo {
    position: relative;
    top: 4vh;
}
.alto {
    position: relative;
    bottom: 3vh;
}
#danoc1a, #danoc2a, #danoc3a, #danoc4a, #danoc5a, #danoc1, #danoc2, #danoc3, #danoc4, #danoc5, #danoc6, #danoc7 {
    position: relative;
    right: 0.5vh;
}
.thesauriano:hover {
    border-color: rgb(187, 53, 0);
}
#hpbarco {
    width: 100%;
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.692);
    border-top: 0.5vh solid #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5vh;
}
#hpbarco h1 {
    color: #ffffff;
}
#hpbarco img {
    display: block;
    height: 6vh;
    margin: 0.5vh;
}
#hpbarcoini {
    width: 100%;
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.692);
    border-bottom: 0.5vh solid #fff;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5vh;
}
#hpbarcoini h1 {
    color: #ffffff;
}
#hpbarcoini img {
    display: block;
    height: 6vh;
    margin: 0.5vh;
}
.resouro {
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 2vh;
    top: 1.3vh;
    display: flex;
    width: 100%;
}
.resouro h1 {
    font-size: 2vh;
}
.ressan {
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 2vh;
    top: 2vh;
    display: flex;
    width: 100%;
}
.ressan h1 {
    font-size: 2vh;
}
.atributosc1 {
    display: grid;
    width: 100%;
    height: 30%;
}
#ouroc1, #sanc1, #ouroc2, #sanc2, #ouroc3, #sanc3, #ouroc4, #sanc4, #ouroc5, #sanc5, #ouroc6, #ouroc7 {
    position: relative;
    right: 1vh;
}
#btns {
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    position: absolute;
    bottom: 20vh;
    border-top: 0.5vh solid #ffffff;
}
#btns button {
    width: 100%;
    height: 9vh;
    cursor: pointer;
}
#atacar {
    background-color: rgba(255, 0, 0, 0.87);
    color: rgb(255, 203, 154);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5vh;
}
#atacar:hover {
    background-color: rgba(207, 12, 12, 0.87);
}
#ordenar {
    background-color: rgba(0, 26, 255, 0.87);
    color: rgb(249, 255, 170);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5vh;
}
#ordenar:hover {
    background-color: rgba(19, 36, 180, 0.87);
}
#itens {
    background-color: rgba(47, 182, 130, 0.87);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 5vh;
}
#itens:hover {
    background-color: rgba(37, 139, 100, 0.87);
}
#mirac1, #mirac2, #mirac3, #mirac4, #mirac5, #mirac6, #mirac7, #mirap1, #mirap2, #mirap3, #mirap4, #mirap5 {
    height: 15vh;
    position: absolute;
    display: none;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-name: shake;
}
@keyframes shake {
    0%{
        transform: translateX(0.1vh);
    }
    100%{
        transform: translateX(-0.1vh);
    }
}
#cta1 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    background-image: url(barbarovsk.png);
}
#cta2 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    background-image: url(crowly.png);
}
#cta3 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    background-image: url(lysa.png);
}
#cta4 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    background-image: url(Vilin.png);
}
#cta5 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    background-image: url(gabriele.png);
}
.dado {
    display: none;
    width: 40vh;
    height: 40vh;
    background-color: #000000ea;
    z-index: 10;
    border: 0.3vh solid #fff;
    border-radius: 3vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.num {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#roll {
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 159, 49);
    border-radius: 3vh;
    cursor: pointer;
    font-size: 4vh;
    text-shadow: -1px 0 #ffb394, 0 1px #ffb394, 1px 0 #ffb394, 0 -1px #ffb394;
}
#rolln {
    color: #43c8d1;
    font-size: 10vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.nivel {
    width: 100%;
    height: 12vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#nvc1, #nvc2, #nvc3, #nvc4, #nvc5 {
    font-size: 1.8vh;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
}
#cartai1, #cartai2, #cartai3, #cartai4, #cartai5, #cartai6, #cartai7 {
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
.incapacitado {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    display: none;
    position: absolute;
    align-items: center;
}
.incapacitado h1 {
    color: #ff0000;
    font-size: 2.8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
}
#inc1, #inc2, #inc3, #inc4, #inc5 {
    position: absolute;
    width: 20vh;
}
.incapacitado img {
    height: 15vh;
    margin: 0 auto;
}
.vez {
    width: 60vh;
    height: 8vh;
    background-color: rgba(0, 0, 255, 0.842);
    position: absolute;
    top: 2vh;
    border: 3px solid #000;
    border-radius: 10vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
}
.vez h1 {
    color: #ffe674;
    font-size: 5vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}
.canhoneiro {
    width: 20vh;
    height: 100%;
    background-color: #00000007;
    display: none;
    position: absolute;
    box-shadow: inset 0vh 0vh 0.5vh 0.5vh #ffdb77;
    z-index: 5;
}
.canhoneiroi {
    width: 18vh;
    height: 100%;
    background-color: #00000007;
    position: absolute;
    display: none;
    box-shadow: inset 0vh 0vh 0.5vh 0.5vh #ffdb77;
    z-index: 5;
}
.canhoneiroi img {
    height: 5vh;
}
.canhoneiro img {
    height: 5vh;
}

#cn1, #cn2, #cn3, #cn4 {
    display: none;
}

@keyframes pulse {
    0%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.8;
    }
}
.damage {
    width: 100%;
    height: 20vh;
    background-color: #000000a4;
    position: absolute;
    top: 0;
    right: 30vh;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid #fff;
    transition-duration: 0.5s;
    border-right: 1px solid #fff;
}
.damage h1 {
    color: #ffffff;
    font-size: 4vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
    border-bottom: 0.1vh solid #fff;
}
.damage h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 5vh;
    height: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
}
.ordem {
    width: 65vh;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 20;
    display: none;
    opacity: 0;
    border: 3px solid #fff;
    border-radius: 10vh;
    transition-duration: 0.5s;
}
.inisel {
    height: 90vh;
    width: 70vh;
    background-color: #000;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
    position: absolute;
}
.inisel button {
    font-size: 6vh; 
    width: 40vh;
    height: 10vh;
    border-radius: 2vh;
    cursor: pointer;
    background-color: #9bdb88;
}
.vd {
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 2vh;
    top: 1.3vh;
    display: flex;
    width: 100%;
    height: 140%;
}
.vd h1 {
    font-size: 2.5vh;
}
#cog {
    height: 10vh;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 30;
    top: 1vh;
    left: 1vh;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0.8;
}
.options {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 70;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    position: absolute;
}
.ctop {
    width: 60vh;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.966);
    z-index: 70;
    border: 1vh solid #582a04;
    border-radius: 10vh;
}
.sonsm {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sonsm h1 {
    color: #fdb00b;
    font-size: 7vh;
    text-shadow: 0.3vh 0.3vh 0.3vh #000;
    margin: 0 auto;
    margin-bottom: 5vh;
}
.cct {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cct button {
    height: 10vh;
    width: 50vh;
    border-radius: 5vh;
    font-size: 5vh;
    cursor: pointer;
    background-color: #fdb00b;
}
.barras {
    width: 100%;
    height: 30vh;
}
.brrm {
    height: 15vh;
    border-bottom: 0.3vh solid #fdb00b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.3vh solid #fdb00b;
}
.brrs {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.3vh solid #fdb00b;
}
.brrm h1 {
    color: #e0912a;
    font-size: 5vh;
    margin: 0 auto;
    margin-left: 0.5vh;
    margin-right: 3vh;
}

.brrs h1 {
    color: #e0912a;
    font-size: 5vh;
    margin: 0 auto;
    margin-left: 3.5vh;
    margin-right: 7vh;
}

.slide {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 0.5vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vh;
    height: 4vh;
    background: #e2a600;
    cursor: pointer;
  }
  
  .slide::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
.armaatl {
    width: 100%;
    height: 17vh;
    background-color: rgba(0, 0, 0, 0.705);
    position: absolute;
    top: 25vh;
    border-top: 0.3vh solid #fff;
    border-bottom: 0.3vh solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.armaatl h1 {
    width: 100%;
    color: #fff;
    font-size: 3vh;
}
.armaatl h2 {
    width: 100%;
    color: #fff;
    margin: 0 auto;
    font-size: 3vh;
}
.armaatl h3 {
    width: 100%;
    color: #fff;
    font-size: 2.3vh;
}
.armatxt {
    width: 100%;
    height: 50%;
    text-align: center;
    border-bottom: 0.3vh solid #fff;
    align-items: center;
    display: flex;
}
.atltxt {
    width: 100%;
    height: 50%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.mun {
    width: 100%;
    height: 33%;
    text-align: center;
    color: #fff;
    border-top: 0.3vh solid #fff;
    display: none;
    align-items: center;
}
.ctinisel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000005e;
    position: absolute;
    z-index: 100;
}
.niveis {
    width: 100%;
    height: 6vh;
    border-bottom: 3px solid #fff;
    display: block;
}
.vidabc {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    justify-content: center;
}
.inund {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nv1, #nv2, #nv3 {
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 30vh;
    border: 0.1vh solid #fff;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.vidabci {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12vh;
    justify-content: center;
}
.inundi {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nv1i, #nv2i, #nv3i {
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 30vh;
    border: 0.1vh solid #fff;
    background-color: unset;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.niveisi {
    width: 100%;
    height: 6vh;
    border-top: 3px solid #fff;
    display: block;
}
#opcnn {
    width: 100%;
    height: 33%;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.76);
    border-bottom: 0.3vh solid #fff;
    font-size: 6vh;
    color: #ffd04f;
    transition-duration: 0.3s;
    text-shadow: 0.1vh 0.1vh 0.1vh #000;
}
#opcnn:hover {
    background-color: rgba(110, 14, 14, 0.315);
}
#vidabarcoi {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hab {
    width: 9vh;
    height: 9vh;
    border-radius: 30vh;
    border: 0.5vh solid #000;
    position: absolute;
    bottom: -11vh;
    left: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffd952;
    transition-duration: 0.3s;
}
.hab img {
    height: 6vh;
    display: block;
    margin: 0 auto;
}

.estatq {
    width: 100%;
    height: 1%;
    display: none; 
    justify-content: center;
    align-items: center;
}

#est {
    font-size: 4.5vh;
}

.cool {
    width: 100%;
    height: 100%;
    border-radius: 30vh;
    background-color: #00000085;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

#cooldown {
    text-align: center;
    font-size: 5vh;
}

.utitensct {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    background-color: #0000007e;
    transition-duration: 0.5s;
    z-index: 50;
}

.utitens {
    width: 130vh;
    height: 85vh;
    background-color: #000;
    border: 0.3vh solid #fdb00b;
    border-radius: 5vh;
    display: flex;
}

.allitens {
    width: 55%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-right: 0.3vh solid #fdb00b;
    text-align: center;
}

.allitens::-webkit-scrollbar {
    width: 1.5vh;
}

.allitens::-webkit-scrollbar-thumb {
    background: #e2a600;
    border-radius: 1vh;
    cursor: pointer;
}

.allitens::-webkit-scrollbar-thumb:hover {
    background: #bb8b06;
}

.allitens::-webkit-scrollbar-track {
    background: #11110f;
    border-radius: 1vh;
    border: 0.3vh solid #fdb00b;
}

.allitens h1 {
    color: #e2a600;
    font-size: 5vh;
}

.itensgr {
    border: 0.3vh solid #fd640b;
    width: 23vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: rgba(83, 83, 83, 0.096);
    transition-duration: 0.1s;
}

.quant {
    width: 100%;
    height: 0.1vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
}

.quant h1 {
    color: #ffffff;
    font-size: 4vh;
    margin: 0;
    margin-right: 1vh;
    margin-top: 2vh;
}

.itensgr img {
    height: 13vh;
    margin: 0;
    margin-top: 0.5vh;
}

.itensgr:hover {
    border-color: #ffaf81;
}

.gradeit {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 0.3vh solid #e2a600;
    border-top: 0.3vh solid #e2a600;
}

.fechar {
    width: 8vh;
    height: 8vh;
    background-color: #e0912a;
    border-radius: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.5vh solid #fd640b;
}

.fechar img {
    height: 5vh;
    display: block;
    margin: 0 auto;
}

.divfechar {
    width: 60vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
}

@media screen and (min-height: 700px) {
    .rivais {
        height: 28%;
        width: 130vh;
    }
    .thesauriano {
        width: 16.8vh;
    }
    .resouro h1 {
        font-size: 1.8vh;
    }
    .resouro {
        height: 120%;
    }
    .vd h1 {
        font-size: 2.1vh;
    }
    .damage h1 {
        font-size: 3.5vh;
    }
}